Source: perspective-backend
Section: misc
Priority: extra
Maintainer: Krutov Ivan <vania-pooh@meridor.org>
Standards-Version: 3.9.2
Build-Depends: cdbs, debhelper (>= 7.0.50~), dh-systemd
Vcs-Git: git://github.com:meridor/perspective-backend.git

Package: perspective-base
Architecture: all
Depends: java8-jdk | java8-runtime | java8-runtime-headless | java8-sdk | sun-java8-jdk
Description: Perspective base configuration package

Package: perspective-rest
Architecture: all
Depends: perspective-base (= ${binary:Version})
Description: Perspective REST API daemon

Package: perspective-storage
Architecture: all
Depends: perspective-base (= ${binary:Version})
Description: Perspective storage module

Package: perspective-openstack
Architecture: all
Depends: java8-jdk | java8-runtime | java8-runtime-headless | java8-sdk | sun-java8-jdk
Description: Perspective Openstack Worker daemon

Package: perspective-docker
Architecture: all
Depends: java8-jdk | java8-runtime | java8-runtime-headless | java8-sdk | sun-java8-jdk
Description: Perspective REST API daemon

Package: perspective-digital-ocean
Architecture: all
Depends: java8-jdk | java8-runtime | java8-runtime-headless | java8-sdk | sun-java8-jdk
Description: Perspective REST API daemon

Package: perspective-shell
Architecture: all
Depends: java8-jdk | java8-runtime | java8-runtime-headless | java8-sdk | sun-java8-jdk
Description: Perspective interactive shell

