[Unit]
Description=Perspective Storage

[Service]
Type=forking
User=perspective
LimitNOFILE=4096
ExecStart=/usr/share/perspective/perspective-storage/start.sh

[Install]
WantedBy=multi-user.target
