[Unit]
Description=Perspective Docker Worker

[Service]
Type=simple
User=perspective
LimitNOFILE=4096
ExecStart=/usr/share/perspective/perspective-docker/start.sh

[Install]
WantedBy=multi-user.target
