#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

ifdef BUILD_PACKAGE
PACKAGE := $(DEB_SOURCE_PACKAGE)
VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \([0-9.]*\).*/\1/p')
IS_SNAPSHOT := $(shell dpkg-parsechangelog | sed -ne 's/^Version: .*\(SNAPSHOT\).*/\1/p')
ifeq ($(strip $(IS_SNAPSHOT)),SNAPSHOT)
    VERSION := $(VERSION)-SNAPSHOT
endif

JAVA_HOME := $(shell update-alternatives --query javac | grep Best: | cut -d " " -f2 | sed 's|/bin/javac||')


override_dh_installinit:
	dh_installinit --no-start

build:
	scripts/build.sh ${VERSION} ${HOME}

clean::
	scripts/clean.sh ${VERSION} ${HOME}
endif
