#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

PACKAGE := $(DEB_SOURCE_PACKAGE)
VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \([0-9.]*\).*/\1/p')
IS_SNAPSHOT := $(shell dpkg-parsechangelog | sed -ne 's/^Version: .*\(SNAPSHOT\).*/\1/p')
ifeq ($(strip $(IS_SNAPSHOT)),SNAPSHOT)
    VERSION := $(VERSION)-SNAPSHOT
endif

JAVA_HOME := $(shell update-alternatives --query javac | grep Best: | cut -d " " -f2 | sed 's|/bin/javac||')


override_dh_installinit:
	dh_installinit --no-start

build:
	mvn -Dversion=${VERSION} -DskipTests=true -Dmaven.repo.local=${HOME}/.m2/repository clean package
	mv perspective-rest/target/lib/perspective-rest-${VERSION}.war perspective-rest/target/perspective-rest.war
	mv perspective-storage/target/lib/perspective-storage-${VERSION}.jar perspective-storage/target/perspective-storage.jar
	mv perspective-openstack/target/lib/perspective-openstack-${VERSION}.jar perspective-openstack/target/perspective-openstack.jar
	mv perspective-docker/target/lib/perspective-docker-${VERSION}.jar perspective-docker/target/perspective-docker.jar
	mv perspective-shell/target/lib/perspective-shell-${VERSION}.jar perspective-shell/target/perspective-shell.jar

clean::
	mvn -Dversion=${VERSION} -Dmaven.repo.local=${HOME}/.m2/repository clean
